alpha:
    BASE_URL: http://xxx.com
    PITHY_DB: mysql://username:password@host:port/db?charset=utf8
beta:
    BASE_URL: http://xxx.com
    PITHY_DB: mysql://username:password@host:port/db?charset=utf8
